<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
            <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./responsive.css">


    <title>Hello, world!</title>
    
</head>

<body>
    <section id="stCart">

        <div class="cart-page mt-50 mb-50">

            <div class="container">
                <div class="headingPage">
                    <h1 class="titlet">Giỏ hàng</h1>
                </div>
                <div class="row">

                    <div class="col-md-8 col-sm-12 col-xs-12 listItem">
                        <div class="table-cart-area">

                            <table class="table table-cart">
                                <tbody>
                                    <tr>
                                        <th class="product">Sản phẩm</th>
                                        <th class="qty">Số lượng</th>
                                        <th class="linePrice">Tổng tiền</th>
                                        <th class="remove">Xóa</th>
                                    </tr>

                                    <tr class="cartItem" data-id="1075140170">
                                        <td class="product">
                                            <a href="/products/nylon-cargo-pants-black">
                                                <div class="thumb-cart">
                                                    <img src="//product.hstatic.net/1000344185/product/7810_e603fd18182746f4a51844f3162510d8_medium.jpg"
                                                        alt="">
                                                    <h4>NYLON CARGO PANTS - BLACK</h4>

                                                    <span class="variant_title">XL</span>

                                                    <span>450,000₫</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-number">
                                                <input type="button" value="<" class="qtyminus" field="quantity">
                                                <input type="text" size="4" name="quantity" min="1"
                                                    id="updates_1075140170" value="1" onfocus="this.select();"
                                                    class="tc item-quantity qty">
                                                <input type="button" value=">" class="qtyplus" field="quantity">
                                            </div>
                                        </td>
                                        <td class="linePrice">
                                            <b>450,000₫</b>
                                        </td>
                                        <td class="remove">
                                            <a class="remove-item" href="/cart/change?line=1&amp;quantity=0"
                                                data-id="1075140170"><i class="fa fa-trash-o"
                                                    aria-hidden="true"></i></a>
                                        </td>
                                    </tr>

                                    <tr class="cartItem" data-id="1074119604">
                                        <td class="product">
                                            <a href="/products/ransom-tee-wash-black">
                                                <div class="thumb-cart">
                                                    <img src="//product.hstatic.net/1000344185/product/2289_3b6bf50db0444fb0a2ff2106d1316952_medium.png"
                                                        alt="">
                                                    <h4>RANSOM TEE - BLACK</h4>

                                                    <span class="variant_title">XL</span>

                                                    <span>330,000₫</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-number">
                                                <input type="button" value="<" class="qtyminus" field="quantity">
                                                <input type="text" size="4" name="quantity" min="1"
                                                    id="updates_1074119604" value="1" onfocus="this.select();"
                                                    class="tc item-quantity qty">
                                                <input type="button" value=">" class="qtyplus" field="quantity">
                                            </div>
                                        </td>
                                        <td class="linePrice">
                                            <b>330,000₫</b>
                                        </td>
                                        <td class="remove">
                                            <a class="remove-item" href="/cart/change?line=2&amp;quantity=0"
                                                data-id="1074119604"><i class="fa fa-trash-o"
                                                    aria-hidden="true"></i></a>
                                        </td>
                                    </tr>

                                    <tr class="cartItem" data-id="1075140162">
                                        <td class="product">
                                            <a href="/products/cargo-shorts-sand">
                                                <div class="thumb-cart">
                                                    <img src="//product.hstatic.net/1000344185/product/2587_ad7af57e71a441729e17c8f35b501c03_medium.jpg"
                                                        alt="">
                                                    <h4>CARGO SHORTS - SAND</h4>

                                                    <span class="variant_title">S</span>

                                                    <span>400,000₫</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-number">
                                                <input type="button" value="<" class="qtyminus" field="quantity">
                                                <input type="text" size="4" name="quantity" min="1"
                                                    id="updates_1075140162" value="1" onfocus="this.select();"
                                                    class="tc item-quantity qty">
                                                <input type="button" value=">" class="qtyplus" field="quantity">
                                            </div>
                                        </td>
                                        <td class="linePrice">
                                            <b>400,000₫</b>
                                        </td>
                                        <td class="remove">
                                            <a class="remove-item" href="/cart/change?line=3&amp;quantity=0"
                                                data-id="1075140162"><i class="fa fa-trash-o"
                                                    aria-hidden="true"></i></a>
                                        </td>
                                    </tr>

                                    <tr class="cartItem" data-id="1075240803">
                                        <td class="product">
                                            <a href="/products/90-s-tee-white">
                                                <div class="thumb-cart">
                                                    <img src="//product.hstatic.net/1000344185/product/2683_5f365049c35445c6a9058d2145917548_medium.png"
                                                        alt="">
                                                    <h4>90'S TEE - WHITE</h4>

                                                    <span class="variant_title">XL</span>

                                                    <span>340,000₫</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-number">
                                                <input type="button" value="<" class="qtyminus" field="quantity">
                                                <input type="text" size="4" name="quantity" min="1"
                                                    id="updates_1075240803" value="2" onfocus="this.select();"
                                                    class="tc item-quantity qty">
                                                <input type="button" value=">" class="qtyplus" field="quantity">
                                            </div>
                                        </td>
                                        <td class="linePrice">
                                            <b>680,000₫</b>
                                        </td>
                                        <td class="remove">
                                            <a class="remove-item" href="/cart/change?line=4&amp;quantity=0"
                                                data-id="1075240803"><i class="fa fa-trash-o"
                                                    aria-hidden="true"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="note_item">
                                <div class="note_cart">
                                    <label class="control-label" for="CartSpecialInstructions">Instagram</label>
                                    <textarea name="note" class="form-control"
                                        placeholder="Vui lòng nhập Instagram của bạn"
                                        id="CartSpecialInstructions"></textarea>
                                </div>
                            </div>
                            <div class="calculate-area">
                                <div class="ct-ft-cart">
                                    <div class="total-cart">
                                        <div class="subtotal">
                                            Tổng tiền <b>1,860,000₫</b>
                                        </div>
                                        <div class="final-total text-center">
                                            <a href="/checkout" class="update-cart">Thanh toán</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>

</html>